<h3 class="side1">¿Qué es esto?</h3>
<p>twelección recoje todos los mensajes (o &ldquo;tweets&rdquo;) enviados por los usuarios de <a href="http://twitter.com">Twitter</a> acerca las elecciones en Venezuela, este Domingo 15 de febrero.</p>

<p>También puedes verlos desde tu celular entrando en <a href="http://m.tweleccion.com">m.tweleccion.com</a>

<h3 class="side2">¿Quieres participar?</h3>
<p><a href="https://twitter.com/signup">Crea tu cuenta</a> en <a href="http://twitter.com">Twitter</a> y envía lo que desees. Sólo debes asegurarte de incluir <strong>#15f</strong> o <strong>#15F</strong> en el texto de tu mensaje para que aparezca aquí. Los mensajes pueden tardar un par de minutos en aparecer.</p>
			
<p>¿Dudas, comentarios o sugerencias? <a href="http://twitter.com/home?status=@gesteves%20">Contáctame</a>.</p>

<h3 class="side3">Advertencia</h3>
<p>Los mensajes que aparecen aquí son enviados por los usuarios de <a href="http://twitter.com">Twitter</a>. twelección no se hace responsable por el contenido de los mismos.</p>

<p class="by">Desarrollado por <a href="http://www.gesteves.com">Guillermo Esteves</a>.</p>
<p class="gae">Powered by Google App Engine.</p>