{% extends "base.html" %}
{% block title %}twelección &ndash; tú decides. tú comentas.{% endblock %}


{% block content %}

<div id="tweets">
	<h2>Últimos mensajes acerca del #15F <span class="loading" style="display:none;">Esperando por más tweets&hellip;</span></h2>
<ul>
	{% for t in tweets %}
	<li id="t_{{t.tweet_id}}"><a href="{{t.author_uri}}" class="author">{{ t.author }}</a> {{ t.content|safe }}<br/><span class="meta"><a href="{{t.uri}}">A las {{ t.published_ve|date:"g:i a" }}</a></span></li>
	{% endfor %}
</ul>
</div>

<div id="about">
	<h3>¿Qué es esto?</h3>
	<p>twelección recoje todos los mensajes (o &ldquo;tweets&rdquo;) enviados por los usuarios de <a href="http://twitter.com">Twitter</a> acerca las elecciones en Venezuela, este Domingo 15 de febrero.</p>
	<h3>¿Quieres participar?</h3>
	<p><a href="https://twitter.com/signup">Crea tu cuenta</a> en <a href="http://twitter.com">Twitter</a> y envía lo que desees. Sólo debes asegurarte de incluir <strong>#15f</strong> o <strong>#15F</strong> en el texto de tu mensaje para que aparezca aquí. Los mensajes pueden tardar un par de minutos en aparecer.</p>
				
	<p>¿Dudas, comentarios o sugerencias? <a href="http://twitter.com/home?status=@gesteves%20">Contáctame</a>.</p>
	
	<p>Desarrollado por <a href="http://www.gesteves.com">Guillermo Esteves</a>.</p>

				
	<p class="gae">Powered by Google App Engine.</p>
				
				
</div>

{% endblock %}